@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: PingFang TC;
}

.wrap {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1 a {
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-all-dark.svg);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: cover;
  width: 220px;
  height: 40px;
}

@media (max-width: 768px) {
  h1 a {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/logotype-lg-dark.svg);
    width: 130px;
    height: 20px;
  }
}

h1 a:hover {
  opacity: 0.7;
}

.menu {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: block;
    cursor: pointer;
  }
  .menu img {
    padding: 10px;
    border-radius: 10px;
  }
  .menu img:hover {
    background-color: #EAF0ED;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  margin-right: 79px;
}

@media (max-width: 768px) {
  .menu-list-inner {
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: -100px;
    width: 100%;
    left: 0;
    text-align: center;
    line-height: 50px;
    z-index: -10;
  }
}

.menu-list-inner li a {
  font-size: 16px;
  font-weight: bold;
  color: #3F5D45;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .menu-list-inner li a {
    color: #fff;
  }
}

.menu-list-inner li a:hover {
  background-color: #EAF0ED;
}

.menu-active {
  z-index: 1;
}

@media (max-width: 768px) {
  .menu-active {
    visibility: visible;
    top: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-active li a {
    color: #3F5D45;
    -webkit-transition: all 1.7s;
    transition: all 1.7s;
  }
  .menu-active :hover {
    background: #EAF0ED;
  }
}

.menu-cart {
  margin-left: -20px;
}

.menu-cart a {
  width: 24px;
  padding: 10px;
  border-radius: 10px;
}

.menu-cart a:hover {
  background-color: #EAF0ED;
}

.banner img {
  margin-bottom: 60px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .banner img {
    margin-bottom: 0;
  }
}

/*下方區塊*/
.container {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container {
    width: 75%;
  }
}

.subscribe {
  background-color: #3F5D45;
}

.subscribe-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 33px;
  color: #EAF0ED;
}

@media (max-width: 768px) {
  .subscribe-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .subscribe-title {
    margin-bottom: 30px;
  }
}

.subscribe-title img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.form-mail {
  background-color: #EAF0ED;
  width: 380px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-mail label {
  padding: 16px 0px 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-mail label img {
  padding-right: 20px;
}

.form-mail input[type="submit"] {
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_forward-24px.png);
  width: 64px;
  background-color: #FFE180;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#mail {
  background-color: #EAF0ED;
  cursor: pointer;
  border: none;
  outline: none;
}

.footer {
  background-color: #EAF0ED;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 768px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-inner p {
  font-size: 16px;
  line-height: 16px;
  color: #3F5D45;
  padding-top: 16px;
  font-family: Times;
}

.information {
  width: 50%;
  padding-top: 8.9pt;
}

.logo {
  width: 171px;
  margin-bottom: 115.5px;
}

@media (max-width: 768px) {
  .logo {
    margin-bottom: 39.5px;
  }
}

.contact {
  font-size: 16px;
  line-height: 24px;
  color: #3F5D45;
  font-weight: regular;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contact {
    margin-bottom: 37px;
  }
}

.slogan {
  width: 50%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 23px;
  line-height: 29pt;
  color: #3F5D45;
  font-family: Noto Serif TC Black;
  letter-spacing: 6px;
}

@media (max-width: 768px) {
  .slogan {
    display: none;
  }
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

@media (max-width: 768px) {
  .link {
    margin-bottom: 23px;
  }
}

.link li a img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .main-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.dessert-type {
  width: 32%;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.5px;
}

@media (max-width: 768px) {
  .dessert-type {
    width: 100%;
    margin-bottom: 30px;
  }
}

.dessert-type h2 {
  background: #3F5D45;
  color: #EAF0ED;
  padding: 16px;
}

.type li a {
  color: #3F5D45;
  border: 1px solid #EAF0ED;
  padding: 16px;
}

.type li a:hover {
  background-color: #EAF0ED;
  border: 1px solid #3F5D45;
}

.type li .current-btn {
  background: #EAF0ED;
  color: #3F5D45;
}

.products {
  max-width: 620px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .products {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .product {
    margin-bottom: 30px;
  }
}

.product .item {
  width: 300px;
  margin: 0 auto;
  border: #EAF0ED 1pt solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*商品圖片+按鈕細節*/
.label {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.label li:nth-child(2) {
  background: #3F5D45;
  color: #EAF0ED;
  position: absolute;
  left: 20px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.label .favorite-none {
  position: absolute;
  top: 19px;
  right: 22px;
  font-size: 20px;
  color: #3F5D45;
  cursor: pointer;
}

.label .favorite {
  display: none;
  position: absolute;
  top: 19px;
  right: 22px;
}

.label .favorite-active {
  display: block;
  color: #3F5D45;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.pic-name {
  font-weight: light;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 33px;
  color: #3F5D45;
}

.coin {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  border-left: #EAF0ED 1pt solid;
  padding: 14px 20px 14px 25px;
  color: #3F5D45;
}

.shop {
  width: 300px;
}

.shop li a {
  background: #EAF0ED;
  border: 1px solid #EAF0ED;
  color: #3F5D45;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.shop li a:hover {
  background: #3F5D45;
  border: 1px solid #3F5D45;
  color: #EAF0ED;
}

.page {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page li a img {
  padding: 17px;
  border: #EAF0ED 1px solid;
}

.page li a img:hover {
  background: #EAF0ED;
}

.page-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-num a {
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: PingFang TC;
  font-weight: semibold;
  font-size: 20px;
  line-height: 20px;
  border: #EAF0ED 1px solid;
  color: #3F5D45;
  text-align: center;
}

.page-num a:hover {
  color: #3F5D45;
  background: #EAF0ED;
}

.page-num:nth-child(2) a {
  background: #3F5D45;
  border: #3F5D45 1px solid;
  color: #EAF0ED;
  text-align: center;
}

.main-container-receipt {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: PingFang TC;
}

@media (max-width: 768px) {
  .main-container-receipt {
    padding: 0;
    margin-bottom: 0;
  }
}

.receipt {
  width: 60%;
  background-color: #3F5D45;
  padding-top: 30px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .receipt {
    width: 100%;
    margin-right: 0;
  }
}

.receipt .title {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .receipt .title {
    width: 80%;
  }
}

.receipt .title h2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  color: #EAF0ED;
}

.receipt .kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 380px;
}

@media (max-width: 768px) {
  .receipt .kind {
    width: 80%;
  }
}

.receipt .kind-e, .receipt .kind-p {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: solid 1px #EAF0ED;
  color: #EAF0ED;
  font-size: 20px;
  line-height: 28px;
  padding: 14px;
  font-weight: bold;
}

.receipt .kind-e, .receipt .kind-p:hover {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.receipt .kind-e {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step .line {
  width: 60px;
  height: 1px;
  border-top: solid #EAF0ED 1px;
}

.step span {
  color: #EAF0ED;
  font-size: 20px;
  margin: -2px;
}

.step span:nth-child(5) {
  margin: 0;
}

@media (max-width: 768px) {
  .step span {
    font-size: 16px;
  }
  .step .line {
    width: 54px;
  }
}

.user-input-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 380px;
}

@media (max-width: 768px) {
  .user-input-email {
    width: 80%;
  }
}

.user-input-email li {
  margin-bottom: 16px;
  width: 100%;
}

.user-input-email h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #EAF0ED;
  margin-bottom: 8px;
}

#receipt-mail {
  background-color: #EAF0ED;
  height: 56px;
  font-size: 16px;
  line-height: 22px;
  width: 99%;
  border: none;
  outline: none;
}

.user-input-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 380px;
  color: #8DA291;
  display: none;
  /*勾選同運送地址*/
}

@media (max-width: 768px) {
  .user-input-address {
    width: 80%;
  }
}

.user-input-address li {
  margin-bottom: 16px;
  width: 100%;
}

.user-input-address span {
  display: block;
  cursor: pointer;
  color: #EAF0ED;
  background-color: #EAF0ED;
  margin-right: 8px;
  font-size: 16px;
}

.user-input-address .checkbox-active {
  background-color: #3F5D45;
}

.user-input-address .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #EAF0ED;
  line-height: 28px;
  margin-bottom: 8px;
}

.user-input-address .title h2 {
  font-size: 20px;
  line-height: 28px;
}

.user-input-address .title h3 {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-input-address li:nth-child(2) h2 {
  font-size: 20px;
  line-height: 28px;
  color: #EAF0ED;
  margin-bottom: 8px;
}

.user-input-address .address-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 380px;
  margin-bottom: 8px;
  font-family: PingFang TC;
}

.user-input-address select {
  background-color: #EAF0ED;
  height: 56px;
  font-size: 16px;
  line-height: 20px;
  width: 48%;
  border: none;
  outline: none;
  color: #8DA291;
  font-family: PingFang TC;
  padding: 10px;
}

#receipt-address {
  background-color: #EAF0ED;
  height: 56px;
  font-size: 16px;
  line-height: 20px;
  width: 99%;
  border: none;
  outline: none;
  font-family: PingFang TC;
}

/*不同發票種類的選項*/
.receipt .kind .receipt-active {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.receipt .kind .receipt-none {
  background-color: #3F5D45;
  color: #EAF0ED;
}

/*不同發票種類的內容*/
.receipt-userinput-active {
  display: block;
}

.receipt-userinput-none {
  display: none;
}

.ok-button a {
  width: 100%;
  background-color: #FFE180;
  color: #3F5D45;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-weight: bold;
}

.ok-button a:hover {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.shop-detail {
  width: 40%;
}

@media (max-width: 768px) {
  .shop-detail {
    display: none;
  }
}

.shop-detail h2 {
  background-color: #EAF0ED;
  color: #8DA291;
  font-size: 24px;
  line-height: 33px;
  padding: 16px;
  text-align: center;
  font-weight: bold;
}

.summary {
  margin-bottom: 20px;
}

.summary ul {
  border: solid 1px #EAF0ED;
  padding: 16px 20px;
}

.summary ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary ul li h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: #8DA291;
  margin-bottom: 8px;
}

.summary ul li h3 {
  padding-top: 8px;
  font-size: 20px;
  line-height: 28px;
  color: #8DA291;
  font-weight: bold;
}

.shop-list ul {
  border: solid 1px #EAF0ED;
  padding: 16px 20px 0 20px;
}

.shop-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-list img {
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

.money h4 {
  color: #8DA291;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 2px;
  font-weight: lighter;
}

.money h3 {
  color: #8DA291;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
/*# sourceMappingURL=all.css.map */