@charset "UTF-8";
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .main-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.dessert-type {
  width: 32%;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.5px;
}

@media (max-width: 768px) {
  .dessert-type {
    width: 100%;
    margin-bottom: 30px;
  }
}

.dessert-type h2 {
  background: #3F5D45;
  color: #EAF0ED;
  padding: 16px;
}

.type li a {
  color: #3F5D45;
  border: 1px solid #EAF0ED;
  padding: 16px;
}

.type li a:hover {
  background-color: #EAF0ED;
  border: 1px solid #3F5D45;
}

.type li .current-btn {
  background: #EAF0ED;
  color: #3F5D45;
}

.products {
  max-width: 620px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .products {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .product {
    margin-bottom: 30px;
  }
}

.product .item {
  width: 300px;
  margin: 0 auto;
  border: #EAF0ED 1pt solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*商品圖片+按鈕細節*/
.label {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.label li:nth-child(2) {
  background: #3F5D45;
  color: #EAF0ED;
  position: absolute;
  left: 20px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.label .favorite-none {
  position: absolute;
  top: 19px;
  right: 22px;
  font-size: 20px;
  color: #3F5D45;
  cursor: pointer;
}

.label .favorite {
  display: none;
  position: absolute;
  top: 19px;
  right: 22px;
}

.label .favorite-active {
  display: block;
  color: #3F5D45;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.pic-name {
  font-weight: light;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 33px;
  color: #3F5D45;
}

.coin {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  border-left: #EAF0ED 1pt solid;
  padding: 14px 20px 14px 25px;
  color: #3F5D45;
}

.shop {
  width: 300px;
}

.shop li a {
  background: #EAF0ED;
  border: 1px solid #EAF0ED;
  color: #3F5D45;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.shop li a:hover {
  background: #3F5D45;
  border: 1px solid #3F5D45;
  color: #EAF0ED;
}

.page {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page li a img {
  padding: 17px;
  border: #EAF0ED 1px solid;
}

.page li a img:hover {
  background: #EAF0ED;
}

.page-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-num a {
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: PingFang TC;
  font-weight: semibold;
  font-size: 20px;
  line-height: 20px;
  border: #EAF0ED 1px solid;
  color: #3F5D45;
  text-align: center;
}

.page-num a:hover {
  color: #3F5D45;
  background: #EAF0ED;
}

.page-num:nth-child(2) a {
  background: #3F5D45;
  border: #3F5D45 1px solid;
  color: #EAF0ED;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */